div {
    height: 200px;
    width: 200px;
    border-radius: 50%;

    border: 20px solid #999799;
    border-top: 20px solid #e5625e;

    animation: spinAnimate       0.6s        ease-in        0s        infinite;
}

@keyframes spinAnimate {
    from 
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(360deg);
    }
}
