div
{
    height: 150px;
    width: 150px;
    background-color: yellowgreen;
    border: 2px solid black;
    transition: all 1.5s ease-in-out 0.3s;
    margin:145px;
}

#Scale:hover
{
    background-color: red;
    /* Transform based on the specific axis */
    /* 
    transform: scaleX(5);
    transform: scaleZ(5);
    transform: scaleY(5); 
    */
    
    transform: scale(4.5);
}

#Rotate:hover
{
    background-color: blue;

    /* Rotate using trasnform */
    transform: rotate(360deg);
}

#x:hover
{
    left: 350px;
    /* X axis rotate from vertically DOWN side circular inside screen direction*/
    rotate: x 45deg;
}

#y:hover
{
    left: 550px;
    /* Y axis rotate from vertically LEFT side circular inside screen direction */
    rotate: y 45deg;
}

#z:hover
{
    left: 750px;

    /* Rotate based on the degree % with respective z axis*/
    /* transform: rotate(45deg); */

    /* Z axis rotate from horizontal RIGHT side circular Parallel to screen*/
    rotate: z 45deg;
}


/* Its shifts the block from original place to given direction */
#translate:hover {
    background-color: blueviolet;
    transform: translate(200px);

    transform: translateX(-200px);
    transform: translateY(-200px);
    transform: translate(300px,-80px);
}

#skew:hover {
    background-color: pink;
    transform: skew(45deg);
    transform: skewX(70deg);
    transform: skewY(70deg);
}